@use '../abstracts';

main>section.contact {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 5%;
    row-gap: 20px;
    @include abstracts.breakpoint(tablet) {
        padding: 0px 20px;
        grid-template-columns: 1fr 1fr;
        & details {
            grid-column: 1;
            grid-row: 2;
        }
        & iframe {
            width: 100%;
        }
        &>h2:last-of-type, &>form {
            grid-column: span 2;
        } 
    }
    & form {
        padding-bottom: 20px;
        & fieldset {
            position: relative;
            &::after {
                content: "* Campo obligatorio";
                color: red;
                font-size: 14px;
                position: absolute;
                right: 5px;
                top: -10px;
            }
        }
        & p:not(:nth-of-type(3)) label {
            position: relative;
            &::after {
                content: "*";
                display: inline-block;
                width: 20px;
                color: red;
                position: absolute;
                right: -20px;
            }
            &~input, &~textarea {
                &:user-valid {
                    border-style: solid;
                    border-color: green;
                }
                &:user-invalid {
                    border-color: red;
                }
            }
        }
    }
}