@use '../abstracts';

main.cursos-main {
    padding: 0 5px 20px;
    @include abstracts.breakpoint(tablet) {
        padding-left: 20px;
        padding-right: 20px;
    }
    &>picture {
        display: block;
        width: 80%;
        margin: 0 auto;
        line-height: 0;
        &>img {
            width: 100%;
            aspect-ratio: 10 / 6;
        }
    }
    &>p {
        padding-bottom: 20px;
    }
    & section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        & article {
            display: grid;
            grid-template-columns: 1fr;
            flex-grow: 1;
            &>h3 {
                order: -1;
                text-align: center;
                @include abstracts.breakpoint(tablet) {
                    grid-column: span 2;
                }
                @include abstracts.breakpoint(desktop) {
                    grid-column: span 1;
                }
            }
            & figure {
                display: block;
                margin: 0 auto;
                @include abstracts.breakpoint(tablet) {
                    grid-row: span 3;
                }
                @include abstracts.breakpoint(desktop) {
                    grid-row: span 1;
                }
            }
            & ul {
                margin-top: 0;
            }
            & em {
                & .btn{
                    display: inline-block;
                    text-decoration: none;
                }
                @include abstracts.breakpoint(tablet) {
                    text-align: right;
                }
                @include abstracts.breakpoint(desktop) {
                    text-align: left;
                }
            }
            @include abstracts.breakpoint(tablet) {
                grid-template-columns: 300px 1fr;
                gap: 10px 20px;
            }
            @include abstracts.breakpoint(desktop) {
                flex-basis: 40%;
                flex-grow: 1;
                grid-template-columns: 1fr;
                row-gap: 0;
            }
        }
        
    }
}

main.curso {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    @include abstracts.breakpoint(tablet) {
        padding: 20px;
    }
    &>p:first-child {
        margin: 0px 0px 20px;
        order: -2;
        & .btn {
            display: inline-block;
        }
    }
    &>img {
        width: 50%;
        margin: 0 auto;
        max-width: 700px;
        &.mini {
            width: 30%;
            max-width: 400px;
        }
    }
    &>h1 {
        order: -1;
    }
    &>section {
        padding-bottom: 20px;
        &>p {
            margin: 0;
        }
    }
    &>p:last-child {
        margin: 0;
        & .btn {
            display: inline-block;
        }
    }
}